/*global selector has been specified, allows the elements sizing below */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* default style for link and paragraph elements */
a {
    color: #ffffff;
    text-decoration: none;
}

/* place here to apply to all font-size */
b {
    font-size: 16px;
}

/* header elements */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* makes the seo letters to be a different colour to reflect company's logo */
header h1 .seo {
    color: #d9dcd6;
}

/* div was changed to nav as it is more specific elements to use */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* div was changed to nav as it is more specific elements to use */
header nav ul {
    list-style-type: none;
}

/* div was changed to nav as it is more specific elements to use */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* body elements background colour */
body {
    background-color: #d9dcd6;
}

/* hero image section sets here to allow the navigation elements to run over the image properly*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* services group was applied */
.services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* deleted all individual styling and group the service item elements */
.service-item h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* combined the float-left and float-right as they have a similar elements */
.float-left, .float-right {
    float: left;
    margin-right: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* list of benefits section styling */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* the benefit item elements styling - the next 3 elements below are all similar, concising them makes the code cleaner */
.benefit-lead, .benefit-brand, .benefit-cost  {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img, .benefit-brand img, .benefit-cost img  {
    
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* the services item elements styling - the next 3 elements below are all similar, concising them makes the code cleaner */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer styling elements */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
